<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @user.username.capitalize %>, <%= @ticker %> in your <%= @portname %> portfolio hit its target price of <%= @price %> today. Time to get to work!</p>
  </body>
</html>