<p></p>
<div class="well well-lg">
    <h2>About</h2>
    <p>StockPriceTracker is a simple, free, easy to use application to track target prices on portfolios of stocks. This app was built with <a href="http://rubyonrails.org/">Ruby on Rails</a> and <a href="http://getbootstrap.com/">Bootstrap</a>. All data used is sourced from <a href="https://www.alphavantage.co/">AlphaVantage.</a>
    </p>
</div>
